In [3]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession
import os
os.environ['PYARROW_IGNORE_TIMEZONE'] = '1'

import pyspark.pandas as ps
import pandas as pd

In [ ]:
session = SparkSession.builder\
    .appName('pandas')\
    .config('spark.sql.ansi.enabled', 'false')\
    .config('PYARROW_IGNORE_TIMEZONE', '1')\
    .setMaster("spark://spark-master:7077")\
    .getOrCreate()

PySparkRuntimeError: [JAVA_GATEWAY_EXITED] Java gateway process exited before sending its port number.

### Creating pandas dataframe

In [ ]:
pandas_df = pd.DataFrame({
    'Name': ['Ruba', 'Ramanan', 'Thayalan', 'Others'],
    'Age': [56, 57, 28, 22],
    'address': ['PPT', 'PPT', 'PPT', 'PPT']
})
pandas_df.head()

       Name  Age address
0      Ruba   56     PPT
1   Ramanan   57     PPT
2  Thayalan   28     PPT
3    Others   22     PPT

### Creating spark dataframe
    from pandas dataframe

In [ ]:
df_spark = session.createDataFrame(pandas_df)
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- address: string (nullable = true)

In [ ]:
df_spark.show()

+--------+---+-------+
|    Name|Age|address|
+--------+---+-------+
|    Ruba| 56|    PPT|
| Ramanan| 57|    PPT|
|Thayalan| 28|    PPT|
|  Others| 22|    PPT|
+--------+---+-------+

#### Filter out who older than 30

#### convert spark dataframe to pandas dataframe

In [ ]:
filterd_df = df_spark.filter(df_spark.Age > 30)
filterd_df.show()

+-------+---+-------+
|   Name|Age|address|
+-------+---+-------+
|   Ruba| 56|    PPT|
|Ramanan| 57|    PPT|
+-------+---+-------+

In [ ]:
filterd_df_p = filterd_df.toPandas()
filterd_df_p.head()

      Name  Age address
0     Ruba   56     PPT
1  Ramanan   57     PPT

### Creating dataframe using pandas-on-spark

In [ ]:
ps_df = ps.DataFrame(pandas_df)

## adding 1 for age column
ps_df['Age'] = ps_df['Age'] + 1

ps_df.head()

       Name  Age address
0      Ruba   57     PPT
1   Ramanan   58     PPT
2  Thayalan   29     PPT
3    Others   23     PPT

### Convert pandas-on-spark df to spark Dataframe

In [ ]:
c_spark_df = ps_df.to_spark()
c_spark_df.show()

/opt/bitnami/spark/python/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

+--------+---+-------+
|    Name|Age|address|
+--------+---+-------+
|    Ruba| 57|    PPT|
| Ramanan| 58|    PPT|
|Thayalan| 29|    PPT|
|  Others| 23|    PPT|
+--------+---+-------+

In [ ]:
session.stop()